@charset "utf-8";

html {
  background-color: silver;
}
body {
  margin: 0 10%;
  background-color: white;
  border-left:  thin solid gray;
  border-right: thin solid gray;
}
#contents {
  width: 600px;
	float: left;
}
#contents h2 {
  border-bottom:thin solid #a5bce7;
  border-left:  10px solid #a5bce7;
  border-right: 10px solid #a5bce7;
}
#contents h3 {
  border-bottom:thin solid #a5bce7;
}
.section2 {
}
.section3 {
  margin-left: 1em;
}
.section3:after {
  clear: both;
  content: "";
  display: block;
}
#sidebar {
  float: right;
	width: 200px;
}
#footer {
	clear: both;
}
.sidebar-content {
	font-size: small;
}
.sidebar-content:after {
  clear:both;
  content: "";
  display: block;
}

.sidebar-content h2 {
	font-size: 16pt;
	margin: 0;
	padding: 0 10px;
  border-left:  10px solid #a5bce7;
  border-right: 10px solid #a5bce7;
}
.sidebar-content p {
	margin: 0;
	padding: 0;
}

/*
vim:sw=2 ts=2 et:
*/
