@charset "utf-8";

html {
  background-color: silver;
}
body {
  margin: 0 10%;
  background-color: white;
  border-left:  thin solid gray;
  border-right: thin solid gray;
}
#contents, #footer {
  margin: 0 0.5em;
}
#contents {
  width: 72%;
	float: left;
}
#contents h2 {
  margin-top: 0;
  border-bottom:thin solid #a5bce7;
  border-left:  10px solid #a5bce7;
  border-right: 10px solid #a5bce7;
}
h3  {
  margin-right: 2em;
  border-bottom:thin solid #a5bce7;
}
.section2 {
}
.section3 {
  margin-left: 1em;
}
.section3:after {
  clear: both;
  content: "";
  display: block;
}
#sidebar {
  float: right;
	width: 25%;
}
.sidebar-content {
	font-size: small;
}
.sidebar-content:after {
  clear:both;
  content: "";
  display: block;
}

#footer {
	clear: both;
  padding-bottom: 0.5em;
}
.footer-content:after {
  clear: both;
  content: "";
  display: block;
}
.sidebar-content h2, .footer-content h2 {
	font-size: 16pt;
	margin: 0;
	padding: 0 10px;
  border-left:  10px solid #a5bce7;
  border-right: 10px solid #a5bce7;
}
.sidebar-content p, .footer-content h2 {
	margin: 0;
	padding: 0;
}

li.repository {
  list-style-image: url(http://github.com/images/modules/dashboard/news/push.png);
}
a.repository, a.page {
  margin-left:0.5em;
  font-size:small;
}
a.repository:before {
  content: url(http://github.com/images/modules/dashboard/news/push.png);
}
a.page:before {
  content: url(http://github.com/images/modules/dashboard/news/wiki.png);
}
.git-history {
  font-size: small;
}
/*
vim:sw=2 ts=2 et:
*/
